@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format(".woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format(".woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: black;
}

.visually-hidden {
  display: none;
}

.navigation__item {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.heading {
  font-weight: bold;
  text-transform: uppercase;
}

.heading-one {
  font-size: 60px;
  line-height: 78px;
}

.heading-two {
  font-size: 30px;
  line-height: 36px;
}

.heading-three {
  font-size: 24px;
  line-height: 28px;
}

.btn {
  background: #756167;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: white;
}

.text-blocks {
  font-size: 18px;
  line-height: 21px;
}

.header-list__btn.btn {
  font-size: 16px;
  line-height: 20px;
}

.introduction {
  background: url("../img/main/sedona-background.jpg") center no-repeat;
  background-size: cover;
}

.advantages__header p {
  color: #333333;
}

.advantages-big .advantages-list__text {
  color: white;
}

.advantages-big .advantages-list__title {
  color: white;
}

.advantages-list__wrapper {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-list__wrapper.dark-tile {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-big .advantages-list__wrapper {
  background: #82b3d3;
}

.advantages-list__text {
  color: white;
  font-size: 18px;
  line-height: 21px;
}

.advantages-list__text {
  color: #333333;
}

.conditions__text {
  color: #333333;
}

.conditions-item.dark-tile {
  background: rgba(131, 179, 211, 0.2);
}

.conditions-item {
  background: rgba(131, 179, 211, 0.12);
}

.conditions-item__text.text-blocks {
  color: #333333;
}

.form {
  background: url("../img/main/subscribe-background.jpg") no-repeat center;
  background-size: cover;
  color: white;
}

.form__btn {
  background: #82b3d3;
  color: white;
}

.footer__number {
  color: black;
}
.footer__number:hover {
  color: #756157;
}

.footer__number:focus {
  color: #756157;
}

/* Catalog */

.filters {
  background: url("../img/catalog/catalog-background.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
}

.filters__breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.filters-group__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}
.filters-group__item {
  font-size: 18px;
  line-height: 23px;
}
.filters__buttons button {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: white;
}

.filters__submit.btn {
  background: #82b3d3;
}

.filters__reset.btn {
  background: inherit;
}

.catalog-item__wrapper a{
  text-decoration: none;
}

.catalog-item__title.heading-two {
  color: black;
  text-decoration: none;
}

.catalog-item__desc.btn {
  background: #756157;
  font-size: 16px;
  line-height: 20px;
}
.catalog-item__like.btn {
  font-size: 16px;
  line-height: 20px;
  background: #82b3d3;
}

.catalog-item__like.btn.btn-favorite {
  background: #7db54f;
}

.catalog-item__score {
  font-size: 16px;
  line-height: 20px;
}

.form.no-bg {
  background: none;
}

.form__text {
  color: #333333;
}

.form__title.heading-two {
  color: black;
}
